.profile__info {
    margin: 0 auto;
    margin-top: 22px;
    min-width: 282px;
    position: relative;
    align-self: center;
}

@media (min-width: 1024px) {
    .profile__info {
        min-width: 336px;
    }
}