.element {
  background-color: #fff;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  z-index: 1;
  margin-bottom: 20px;
}

.element:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .element {
    margin-bottom: 0;
  }
}
